<p>dailystats works!</p>

<div class="container">
  <div>
    <h1>Daily data</h1>
  </div>
  <div>
    <select
      [(ngModel)]="selected"
      id="department"
      name="department"
      (ngModelChange)="onSelect()"
      class="form-control"
    >
      <option value="" disabled>
        {{ selected != "" ? selected : "Select" }}
      </option>
      <option *ngFor="let f of dailystatsArray; let i = index" [value]="f">
        {{ f }}
      </option>
    </select>
    <br />

    <input
      class="form-control"
      type="datetime"
      name="input"
      [(ngModel)]="selecteddate"
      (ngModelChange)="onSelectDate()"
      class="form-control"
      placeholder="yyyy-MM-dd"
      min="2022-01-01"
      max="2023-12-31 "
      required
    />
  </div>
  <button type="submit" (click)="goDailyStats()"> GO</button>
</div>
<div>
     <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Weather Measure</th>
                    <th scope="col">Max</th>
                    <th scope="col">Min</th>
                    <th scope="col">mean</th>
                  </tr>
                </thead>
                 <tbody> 
                  <tr  >
                   <tr > 
                   
                     <td *ngFor="let air of dailystatsCopy ; let j = index;" >{{air}}</td> 
                  </tr>
                </tbody>
              </table>
</div>
