<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sites">Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sitemap">Site Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/today">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/live">live</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/livemap">livemap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sitedata">sitedata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stats">stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dailystats">dailystats</a>
      </li>
    </ul>
  
  </nav>