<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Routes</h1>
        </div>
        <div class="rtable">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Routes</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="http://localhost:3000/sites/" class="linkstyle">https://localhost:3000/sites/</a></td>
                    <td>Get sites order by name</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><a href="http://localhost:3000/weatherdata/today/2023-02-17" class="linkstyle">http://localhost:3000/weatherdata/today/2023-02-17</a></td>
                    <td>Get data for today date (4/4/2023)</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><a href="http://localhost:3000/weatherdata/sitedata/M1%20Dublin%20Airport" class="linkstyle">http://localhost:3000/weatherdata/sitedata/M1_Dublin_Airport</a></td>
                    <td>Get data by site oder by date and time</td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>