table {
  width: 100%;
}

// .mat-form-field {
//   font-size: 14px;
//   width: 0%;
// }
.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    font-size: 14px;
    width: 100%;
  } 
}
.action {
  display: flex;
  gap: 5px;
}
.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}